@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    
}

body {
    font-family: Times New Roman;
    font-weight: 400;
    color: black
}

/* design for header*/

#name-logo {
    font-size: 400%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}

h1 , h2 {
    font-family: 'Smooch', cursive;
    color: black;
    text-align: center;

}

.center{
    margin-left: 42.5%;
    display: block;
    
}
    
#nav-menu {
    font-size: 120%;
    letter-spacing: 3px;
}

#nav-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    text-transform: uppercase;
    
}

#nav-menu a {
    color: black;
    text-decoration: none;
}

#nav-menu {
    line-height: 160px;
}

#nav-menu a:hover {
    border-bottom: 2px solid #404040;
}

.center-image {
    margin-left: 27%;
    margin-right: 25%;
    display: block;
        
}
/* section background color*/

#black {
    background-color: black;
    height: 700px;
    
}

/* footer */

footer {
    height: 80px;
   

}

.social-media { 
    text-align: left;
    
}

.social-media > li {
    display: inline;
    
}

.social-media i {
    font-size: 200%;
    margin: 3%;
    padding: .5%;
    color: #000;
}

#signature {
    display: inline;
    float: right;
    margin-right: 4%;
    margin-top: 35px;
    font-size: 300%;
    position: relative;
    
    
    
}

/* photography */

.row1 {
    display: inline-flex;
    padding: 0 4px;
    
}

.column1 {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}

.column1 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

/* Responsize */

@media screen and (max-width: 950px) {
    .column1 {
       column-count: 3;
       display: flex;
       flex-direction: row;
    }

    #nav-menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    nav, img {
        clear: none;
        background: transparent;
        left: 50px;
        
    }


    section , img {
        max-width: 75%;
        height: auto;
        left: 250px;
    }
    
    

}

@media screen and (max-width: 600px) {
    .column1 {
        flex: 100%;
        column-count: 2;
        margin: 0 auto;
    }
}
    

/* contact form */

.contact-form {
    border-radius: 10px;
    background-color: hsla(0, 1%, 42%, 0.979);
    padding: 20px;
    color: white;
    margin-top: -300px;
    margin-bottom: 20px;
    
}

input [type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #404040;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: both;
}

input[type=submit] {
    background-color: #404040;
    color: whitesmoke;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #404040;
}

/* About section */

#about-image {
    height: 550px;
    width: 600px;
    overflow: hidden;
    background-color: #000;

    position: relative;
    

    
}

#about {
    font-size: 110%;
    font-family: Times New Roman;
    letter-spacing: 4px;
    text-align: center;

    width: 498px;
    height: 458px;

    padding-top: 40px;
    padding-left: 15px;

    background-color: rgba(255, 255, 255, 0.938);

    top: 170px;
    bottom: 100px;
    right: 110px;
    position: absolute;
    
}


.position {
    margin-left: 150px;
    margin-top: 20px;
}

#selfie {
    height: 300px;
    width: 450px;
    overflow: hidden;
    margin-left: 60px;
    margin-top: 50px;
    
}

