@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Times New Roman;
    font-weight: 400;
    color: black
}

/* design for header*/

#name-logo {
    font-size: 280%;
    float: left;
    margin-left: 2%;
    margin-top: 2%;
}

h1 {
    font-family: 'Dancing Script', cursive;
    color: black;
    text-align: center;

}

.center{
    margin-left: 40%;
    display: block;
    
}
    
#nav-menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#nav-menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
    text-transform: uppercase;
    
}

#nav-menu a {
    color: black;
    text-decoration: none;
}

#nav-menu {
    line-height: 160px;
}

#nav-menu a:hover {
    border-bottom: 2px solid #404040;
}

.center-image {
    margin-left: 25%;
    margin-right: 25%;
    display: block;
        
}

/* section background color*/

#black {
    background-color: black;
}

/* footer */

footer {
    height: 50px;

}

.social-media { 
    text-align: left;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 180%;
    margin: 2%;
    padding: .5%;
    color: #000;
}

#signature {
    display: inline;
    float: right;
    margin-right: 2%;
    margin-top: 25px;
    
    
}

/* photography */

.row1 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

.column1 {
    flex: 24%;
    max-width: 24%;
    padding: 0 5px;
}

.column1 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* contact form */

.contact-form {
    border-radius: 5px;
    background-color: rgba(151, 147, 147, 0.6);
    padding: 20px;
    
}

input [type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #404040;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #404040;
    color: whitesmoke;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #404040;
}
